<app-top-bar></app-top-bar>
  <h2>
    {{location.title}}
  </h2>
  <p *ngIf="location.description">
    {{location.description}}
  </p>
<a *ngFor="let comment of comments">
  <p>{{comment}}</p>
</a>
  <form [formGroup]="commentForm" (ngSubmit)="onSubmit(commentForm.value,location)">
    <div style="display:flex;justify-content: center;">
      <label for="comment"></label>
      <input id="comment" type="comment" formControlName="comment">
    </div>
    <div style = "text-align:center">
      <button class ="button" type = "submit">Post Comment!</button>
    </div>
  </form>
