<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
    <div class = "center-top">
      <label for="username">Username</label>
      <input id="username" type="text" formControlName="username">
    </div>
    <div class = "center-bottom">
      <label for="password">Password</label>
      <input id="password" type="password" formControlName="password">
    </div>
    <div style = "text-align:center">
    <button class ="button" type = "submit">Login</button>
      <p>  </p>
    <button class = "button" (click)="goToRegister()">Register</button>
    </div>
  </form>
</div>
</body>
</html>

