<app-top-bar></app-top-bar>

<div>
  <form [formGroup]="locationForm" (ngSubmit)="onSubmit(locationForm.value)">
    <div>
      <label for="title">Title</label>
      <input id="title" type="text" formControlName="title">
    </div>
    <div>
      <label for="description">Description</label>
      <input id="description" type="description" formControlName="description">
    </div>
    <select formControlName="category">
      <option value="" disabled>Choose category</option>
      <option>Mountains</option>
      <option>Sea</option>
      <option>Danube</option>
    </select>
    <div style = "text-align:center">
      <button class ="button" type = "submit">Add Location</button>
    </div>
  </form>
</div>
