<app-top-bar></app-top-bar>

<div>
  <form [formGroup]="locationForm" (ngSubmit)="onSubmit(locationForm.value)">
    <div class = "center-top">
      <label for="title">Title</label>
      <input id="title" type="text" formControlName="title">
    </div>
    <div class = "center-bottom">
      <label for="description">Description</label>
      <input id="description" type="description" formControlName="description">
    </div>
    <div class = "center-bottom">
      <label for="category">Category</label>
      <input id="category" type="text" formControlName="category">
    </div>
    <label for="image">Image</label>
    <input id="image" class="file-input" type="file" formControlName="image">
    <div style = "text-align:center">
      <button class ="button" type = "submit">Add Location</button>
    </div>
  </form>
</div>
